/* Apply a white background to the entire page */
body {
  background-color: #fff;
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", sans-serif; /* Use the Rubik font from Google Fonts */
}

/* Create a green main card */
#overlay {
  background-color: #b0c592; /* Green color */
  padding: 20px;
  min-width: 70%;
  border-radius: 10px;
}

/* Center the logo */
#logo {
  display: block;
  margin: 0 auto;
}

/* Style form elements */
form {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label,
span {
  display: block;
  margin-bottom: 10px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Style hr elements */
hr {
  border: 1px solid #000;
  margin: 20px 0;
}

/* Style the toppings section */
.toppings {
  display: flex;
  flex-direction: column; /* Change from row to column */
  align-items: center; /* Adjust alignment as needed */
}

/* Style the toppings section */
.choices {
  display: flex;
  flex-direction: row; /* Change from row to column */
  align-items: center; /* Adjust alignment as needed */
  gap: 10px;
}

/* Style each checkbox */
input[type="checkbox"] {
  margin-bottom: 10px; /* Add spacing between checkboxes */
}

/* Style the toppings section */
.cheesy {
  display: flex;
  flex-direction: column; /* Change from row to column */
  align-items: center; /* Adjust alignment as needed */
}

/* Style each checkbox */
input[type="radio"] {
  margin-bottom: 10px; /* Add spacing between checkboxes */
}
